{% extends '@ContentManagement/base.html.twig' %}

{% form_theme form '@ContentManagement/Core/vich_image_theme.html.twig' %}

{% block title %}{{ ('article.pageHeading')|trans }}{% endblock %}
{% block content %}

    {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><h6 class="panel-title">{{ ('common.'~(article.id ? 'edit' : 'new'))|trans }}</h6></div>
            <div class="panel-body">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="form-actions text-right m-bottom-35">
            <a href="{{ path('mssimi_article_index', {'id' : blog.id}) }}"  class="btn btn-default" type="button"><i class="icon-backward"></i> {{ ('common.back')|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ ('common.submit')|trans }}</button>
        </div>
    {{ form_end(form) }}

{% endblock %}
