{% extends '@ContentManagement/base.html.twig' %}

{% block title %}{{ ('slider.pageHeading')|trans }}{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ path('mssimi_slider_image_new', {'id' : slider.id}) }}">{{ ('common.new')|trans }}</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ ('common.list')|trans }}</h6>
        </div>
        <div class="panel-body">
            {% if slider.children|length %}
                <ul class="sortable list-group">
                    {% include '@ContentManagement/SliderImage/node.html.twig' with {'sliderImages' : slider.children} %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/contentmanagement/js/jquery.mjs.nestedSortable.js') }}"></script>
    <script>
        $(document).ready(function(){

            $('.sortable').nestedSortable({
                handle: 'i',
                items: 'li.item',
                toleranceElement: '> div',
                listType: 'ul',
                excludeRoot: true,
                disableParentChange: true,
                rootID: '{{ slider.id }}',
                relocate: function(index,elem){
                    var that = $(this);
                    elem = elem.item;

                    $.ajax({
                        type: "POST",
                        url: Routing.generate("mssimi_slider_image_reorder"),
                        data: {
                            'id' : elem.attr('id'),
                            'parent_id' : elem.parent().parent().attr("id") || '{{ slider.id }}',
                            'before' : elem.prev().attr("data-name"),
                            'after' : elem.next().attr("data-name")
                        },
                        success: function (data) {
                            refreshId(elem);
                        },
                        error: function(xhr, status, error) {
                            that.nestedSortable('cancel');
                        }
                    });
                    console.log("relocate");
                }
            });

            function refreshId(elem){
                elem.attr('id', (elem.parent().parent().attr("id") || '{{ slider.id }}') + '/' + elem.attr('data-name'));

                elem.find('li.item').each(function(index, elem) {
                    elem = $(elem);
                    elem.attr('id', (elem.parent().parent().attr("id") || '{{ slider.id }}') + '/' + elem.attr('data-name'));
                });
            }
        });

    </script>
{% endblock %}
