<div id="{{ block.id|slice(1)|replace({'/' : '-'}) }}{{ idSuffix|default('') }}" class="{% if is_granted('ROLE_CMS') %}editable-block{% endif %}">
    {{ block.content|raw }}
    {% if is_granted('ROLE_CMS') %}<a class="editable-button" target="_blank" href="{{ path('mssimi_block_edit', {'id': block.id}) }}">{{ ('common.edit')|trans }}</a>{% endif %}
</div>