{% extends '@ContentManagement/base.html.twig' %}

{% block title %}{{ ('block.pageHeading')|trans }}{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ path('mssimi_block_new') }}">{{ ('common.new')|trans }}</a>
            <form class="form-inline pull-right" action="{{ path('mssimi_block_index') }}" method="get">
                <div class="form-group">
                    <input placeholder="search by nodename" class="form-control" name="nodeName" type="text">
                </div>
                <button class="btn btn-default" type="submit">{{ ('common.submit')|trans }}</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ ('common.list')|trans }}</h6>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ ('node.id')|trans }}</th>
                        <th>{{ ('node.name')|trans }}</th>
                        <th>{{ ('node.content')|trans }}</th>
                        <th>{{ ('common.tools')|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for block in blocks.items %}
                    <tr>
                        <td>{{ block.id }}</td>
                        <td>{{ block.name }}</td>
                        <td>{{ block.content|raw }}</td>
                        <td>
                            {{ edit_button_render(path('mssimi_block_edit', {'id' : block.id })) }}
                            <a href="{{ path('mssimi_block_remove', {'id' : block.id }) }}" class="btn btn-danger" data-toggle="confirmation">{{ ('common.remove')|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    {{ knp_pagination_render(blocks, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
