{% extends '@ContentManagement/base.html.twig' %}

{% block title %}{{ ('mssimiContentManagement.gallery.heading')|trans }}{% endblock %}
{% block content %}
    <div class="gallery-header">
        <div class="gallery-title">
            <h3>{{ ('mssimiContentManagement.gallery.heading')|trans }}</h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ path('mssimi_gallery_new') }}">{{ ('mssimiContentManagement.common.new')|trans }}</a>
            <form class="form-inline pull-right" action="{{ path('mssimi_gallery_index') }}" method="get">
                <input placeholder="search by nodename" class="form-control" name="nodeName" type="text">
                <button class="btn btn-default" type="submit">{{ ('mssimiContentManagement.common.submit')|trans }}</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ ('mssimiContentManagement.common.list')|trans }}</h6>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ ('mssimiContentManagement.node.id')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.node.name')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.node.published')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.node.childrenCount')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.common.tools')|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for gallery in galleries.items %}
                    <tr>
                        <td>{{ gallery.id }}</td>
                        <td>{{ gallery.name }}</td>
                        <td><i class="glyphicon {{ gallery.publish ? 'glyphicon-ok' : 'glyphicon-remove' }}"></i></td>
                        <td>{{ gallery.children|length }}</td>
                        <td>
                            {{ edit_button_render(path('mssimi_gallery_edit', {'id' : gallery.id })) }}
                            <a class="btn btn-default" href="{{ path('mssimi_gallery_new', {'id' : gallery.id}) }}">{{ ('mssimiContentManagement.common.new')|trans }}</a>
                            <a href="{{ path('mssimi_gallery_remove', {'id' : gallery.id }) }}" class="btn btn-danger" data-toggle="confirmation">{{ ('mssimiContentManagement.common.remove')|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    {{ knp_pagination_render(galleries, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
