{% extends '@ContentManagement/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/contentmanagement/css/jquery.autocomplete.css') }}">
{% endblock %}

{% block title %}{{ ('menu.heading')|trans }}{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ path('mssimi_menu_item_new', {'id' : menu.id}) }}">{{ ('common.new')|trans }}</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ ('common.list')|trans }}</h6>
        </div>
        <div class="panel-body">
            {% if menu.children|length %}
                <ul class="sortable list-group">
                    {% include '@ContentManagement/Menu/node.html.twig' with {'menus' : menu.children} %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="form-actions form-group text-right">
        <a href="{{ path('mssimi_menu_index') }}"  class="btn btn-default" type="button"><i class="icon-backward"></i> {{ ('common.back')|trans }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/contentmanagement/js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ asset('bundles/contentmanagement/js/jquery.mjs.nestedSortable.js') }}"></script>
    <script>
        $(document).ready(function(){

            $('.sortable').nestedSortable({
                handle: 'i',
                items: 'li.item',
                toleranceElement: '> div',
                listType: 'ul',
                excludeRoot: true,
                rootID: '{{ menu.id }}',
                relocate: function(index,elem){
                    var that = $(this);
                    elem = elem.item;

                    $.ajax({
                        type: "POST",
                        url: Routing.generate("mssimi_menu_item_reorder"),
                        data: {
                            'id' : elem.attr('id'),
                            'parent_id' : elem.parent().parent().attr("id") || '{{ menu.id }}',
                            'before' : elem.prev().attr("data-name"),
                            'after' : elem.next().attr("data-name")
                        },
                        success: function (data) {
                            refreshId(elem);
                            console.log('success');
                            //$.jGrowl(data, {theme: 'growl-success', life: 5000});
                        },
                        error: function(xhr, status, error) {
                            that.nestedSortable('cancel');
                            console.log('error');

                            //$.jGrowl(xhr.responseText, {theme: 'growl-error', header: 'Chyba!', life: 5000});
                        }
                    });
                    console.log("relocate");
                }
            });

            function refreshId(elem){
                elem.attr('id', (elem.parent().parent().attr("id") || '{{ menu.id }}') + '/' + elem.attr('data-name'));

                elem.find('li.item').each(function(index, elem) {
                    elem = $(elem);
                    elem.attr('id', (elem.parent().parent().attr("id") || '{{ menu.id }}') + '/' + elem.attr('data-name'));
                });
            }
        });


    </script>
{% endblock %}

