{% extends '@ContentManagement/base.html.twig' %}

{% block title %}{{ ('mssimiContentManagement.menu.heading')|trans }}{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-title">
            <h3>{{ ('mssimiContentManagement.menu.heading')|trans }}</h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{ path('_mssimi_menu_new') }}">{{ ('mssimiContentManagement.common.new')|trans }}</a>
            <form class="form-inline pull-right" action="{{ path('_mssimi_menu_search_index') }}" method="get">
                <input placeholder="search by nodename" class="form-control" name="name" type="text">
                <button class="btn btn-default" type="submit">{{ ('mssimiContentManagement.common.submit')|trans }}</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ ('mssimiContentManagement.common.list')|trans }}</h6>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-tree">
                <thead>
                    <tr>
                        <th>{{ ('mssimiContentManagement.node.name')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.node.label')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.node.link')|trans }}</th>
                        <th>{{ ('mssimiContentManagement.common.tools')|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% include '@ContentManagement/Menu/node.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="treeview12" class=""></div>
{% endblock %}
{% block javascripts %}
    <script>
        var tree = $('.table-tree');

        tree.treetable({
            expandable: true,
            onNodeCollapse: function() {
                var node = this;
                tree.treetable("unloadBranch", node);
            },
            onNodeExpand: function() {
                var node = this;

                $.ajax({
                    async: false,
                    url: Routing.generate('_mssimi_menu_load', {"id" : node.id})
                }).done(function(html) {
                    var rows = $(html).filter("tr");

                    tree.treetable("loadBranch", node, rows);
                });
            }
        });
    </script>
{% endblock %}
