{% macro node(menus) %}
    {% for menu in menus %}
        <li class="item" id="{{ menu.id }}" data-name="{{ menu.name }}">
            <div class="list-group-item clearfix">
                <div class="pull-left move-block"><i class="glyphicon glyphicon-move move"></i> {{ menu.label }}</div>
                <div class="pull-right">
                    {{ edit_button_render(path('mssimi_menu_edit', {'id' : menu.id })) }}
                    <a class="btn btn-default" href="{{ path('mssimi_menu_new', {'id' : menu.id}) }}">{{ ('mssimiContentManagement.common.new')|trans }}</a>
                    <a href="{{ path('mssimi_menu_remove', {'id' : menu.id }) }}" class="btn btn-danger" data-toggle="confirmation">{{ ('mssimiContentManagement.common.remove')|trans }}</a>
                </div>
            </div>
            {% if menu.children|length %}
                <ul>
                    {% import _self as self %}
                    {{ self.node(menu.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

{{ macro.node(menus) }}
